Weather Report.json
{
  "name": "My workflow 378",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        32,
        304
      ],
      "id": "348a1cf1-49f5-483d-a7e4-5b4afbe00f02",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0",
          "mode": "list",
          "cachedResultName": "Demo-1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/12J4I3fg_isjBCcBXj0w1PVcV8WlUkcAgNHjEx4tecK0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        256,
        304
      ],
      "id": "ad59bf6a-a12f-4908-bfe2-1f1b292012ca",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "cGU3Vo6Dc01YKyNd",
          "name": "Google Sheets account 146"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 3,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        304
      ],
      "id": "4e66ac3b-fff6-47a7-ad72-4e16503389a2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "=https://wttr.in/{{ $json.Location }}?format=j1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        672,
        528
      ],
      "id": "d0e70b27-c3a9-46e4-ae21-7fb1b2424c2d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9bcc35ae-9205-4b8d-a671-43e5733e859b",
              "name": "current_condition[0].FeelsLikeC",
              "value": "={{ $json.current_condition[0].FeelsLikeC }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        288
      ],
      "id": "8e2731b8-78f1-4c9a-87d7-267fb8271293",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "551f7b38-320b-4083-89ed-415684777f37",
              "name": "Weather",
              "value": "It's Hot🌞🏖️\n\n\n\nPlease carry your liquids🍹\n\nHave a Great Day!!\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        144
      ],
      "id": "8deca116-533e-475b-b8ad-540232594522",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a81ca8eb-ed5b-4b8c-bf23-29bf63955775",
              "name": "Weather",
              "value": "It's Cold🌤️⛄ \n\n\nPick up your Jacket and Coffee🍵\n\nHave a Great Day!!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1216,
        416
      ],
      "id": "932661cb-d548-46e4-96c5-1db852d69af2",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "=Hello {{ $('Get row(s) in sheet').item.json.Name }}",
        "message": "=\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#000000; padding:40px 0; font-family:Arial, Helvetica, sans-serif;\">\n  <tr>\n    <td align=\"center\">\n\n```\n  <!-- Main Card -->\n  <table width=\"520\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#F52761; border-radius:12px; padding:30px;\">\n    \n    <!-- Header -->\n    <tr>\n      <td style=\"color:#ffffff; font-size:24px; font-weight:bold; padding-bottom:10px;\">\n        🌤 Weather Update\n      </td>\n    </tr>\n\n    <!-- Description -->\n    <tr>\n      <td style=\"color:#ffffff; font-size:15px; line-height:1.6; padding-bottom:20px;\">\n        Here is the latest weather update for  \n        <strong>{{ $('Get row(s) in sheet').item.json.Location }}</strong>.\n      </td>\n    </tr>\n\n    <!-- Weather Box -->\n    <tr>\n      <td>\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"15\" style=\"background:#000000; border-radius:8px;\">\n          <tr>\n            <td style=\"color:#ffffff; font-size:16px;\">\n              🌡 <strong>Feels Like:</strong> \n              {{ $('HTTP Request2').item.json.current_condition[0].FeelsLikeC }}°C\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"color:#d1d5db; font-size:14px;\">\n              {{ $json.Weather }}\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td style=\"padding-top:25px; font-size:13px; color:#f3f4f6; line-height:1.5;\">\n        This is an automated weather notification generated by your workflow.\n      </td>\n    </tr>\n\n  </table>\n\n</td>\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1408,
        416
      ],
      "id": "4638f1df-f4d5-4f59-b177-56f7868d3d98",
      "name": "Send a message",
      "webhookId": "dd07b54a-c52f-4fca-9ced-a82540e1a8cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "1if454NIiCZotWjI",
          "name": "Gmail account 166"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "= {{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "=Hello  {{ $('Get row(s) in sheet').item.json.Name }}",
        "message": "=\n<table width=\"100%\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background-color:#000000; padding:40px 0; font-family:Arial, Helvetica, sans-serif;\">\n  <tr>\n    <td align=\"center\">\n\n```\n  <!-- Main Card -->\n  <table width=\"520\" border=\"0\" cellspacing=\"0\" cellpadding=\"0\" style=\"background:#F52761; border-radius:12px; padding:30px;\">\n    \n    <!-- Header -->\n    <tr>\n      <td style=\"color:#ffffff; font-size:24px; font-weight:bold; padding-bottom:10px;\">\n        🌤 Weather Update\n      </td>\n    </tr>\n\n    <!-- Description -->\n    <tr>\n      <td style=\"color:#ffffff; font-size:15px; line-height:1.6; padding-bottom:20px;\">\n        Here is the latest weather update for  \n        <strong>{{ $('Get row(s) in sheet').item.json.Location }}</strong>.\n      </td>\n    </tr>\n\n    <!-- Weather Box -->\n    <tr>\n      <td>\n        <table width=\"100%\" cellspacing=\"0\" cellpadding=\"15\" style=\"background:#000000; border-radius:8px;\">\n          <tr>\n            <td style=\"color:#ffffff; font-size:16px;\">\n              🌡 <strong>Feels Like:</strong> \n              {{ $('HTTP Request2').item.json.current_condition[0].FeelsLikeC }}°C\n            </td>\n          </tr>\n\n          <tr>\n            <td style=\"color:#d1d5db; font-size:14px;\">\n              {{ $json.Weather }}\n            </td>\n          </tr>\n        </table>\n      </td>\n    </tr>\n\n    <!-- Footer -->\n    <tr>\n      <td style=\"padding-top:25px; font-size:13px; color:#f3f4f6; line-height:1.5;\">\n        This is an automated weather notification generated by your workflow.\n      </td>\n    </tr>\n\n  </table>\n\n</td>\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1440,
        144
      ],
      "id": "99dfed81-dd3f-4a43-aea1-2030697dde70",
      "name": "Send a message1",
      "webhookId": "dd07b54a-c52f-4fca-9ced-a82540e1a8cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "1if454NIiCZotWjI",
          "name": "Gmail account 166"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ceed1c89-5e80-47e1-b4f2-8519b2e6db61",
                    "leftValue": "={{ $json.current_condition[0].FeelsLikeC }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.current_condition[0].FeelsLikeC }}",
                    "rightValue": 30,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "633bd68d-1762-4bf4-9f0c-f9f41ad4e79b"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        960,
        288
      ],
      "id": "9987e00e-1bbd-42f0-8ce2-61cdd5e17e36",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5bb36482-4e8a-4109-a88e-2e7c77ca949e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0db25aff814d9d346b0e6d897946122cfc12e064b6e58ff53ffd8c9cc948ff20"
  },
  "id": "HzY5LYDxWZIeeJOU",
  "tags": []
}